@import "ag-grid-community/styles/ag-grid.min.css";
@import "ag-grid-community/styles/ag-theme-material.min.css";

.ag-theme-material {
  --ag-background-color: var(--mantine-color-dark-6);
  --ag-material-accent-color: var(--mantine-color-primary-5);
}

.mtrace-ag-mod {
  .ag-root-wrapper {
    background-color: var(--mantine-color-dark-6);
    border-radius: var(--mantine-radius-md);
    box-shadow: var(--mantine-shadow-md);
    .ag-header {
      background-color: var(--mantine-color-dark-6);
      border-bottom-color: var(--mantine-color-dark-7);
      border-bottom-width: 2px;
      &-cell {
        color: var(--mantine-color-gray-2);
        transition: background-color 0.2s;
        &.no-pad {
          padding: 0px;
        }
        .ag-checkbox {
          margin-right: 0px;
          margin-left: 15px;
        }
      }
      &-active {
        background-color: var(--mantine-color-dark-4) !important;
        .ag-header-cell-resize {
          transition: all 0.2s ease-in-out;
          background-color: var(--mantine-color-primary-8);
        }
      }
      .ag-column-resizing,
      .ag-header-cell-moving {
        border-radius: var(--mantine-radius-sm);
        border: 2px solid var(--mantine-color-primary-5);
        background-color: var(--mantine-color-dark-4) !important;
        background-color: var(--mantine-color-dark-4) !important;
      }
    }
    .ag-row {
      .ag-selection-checkbox {
        margin-right: 0px;
        & + .ag-cell-value {
          display: none;
        }
      }
      background-color: var(--mantine-color-dark-6);
      border-bottom-color: var(--mantine-color-dark-7);
      &-focus,
      &-hover {
        background-color: var(--mantine-color-dark-4) !important;
      }
      &-hover:not(.ag-full-width-row)::before {
        display: none;
      }
    }
    .ag-row-selected {
      background-color: var(--mantine-color-dark-6) !important;
      border-bottom-color: var(--mantine-color-dark-7) !important;
      border: 1px dashed var(--mantine-color-primary-5) !important;
      &::before {
        display: none;
      }
    }
    .ag-pinned-left-cols-container .ag-row-selected {
      border-right: 1px solid var(--mantine-color-dark-7) !important;
    }
    .ag-center-cols-container .ag-row-selected {
      border-left-width: 0px !important;
    }
    .ag-cell {
      line-height: 4.5;
      color: var(--mantine-color-gray-2);
      &-data-changed {
        background-color: var(--mantine-color-primary-8) !important;
      }
      &-data-changed,
      &-data-changed-animation {
        border-radius: 0.5rem;
        overflow: hidden;
      }
    }
    .ag-cell.ag-cell-last-left-pinned:not(.ag-cell-range-right):not(
        .ag-cell-range-single-cell
      ),
    .ag-pinned-left-header {
      border-right-color: var(--mantine-color-dark-7) !important;
    }
  }
}

.ag-menu {
  background-color: transparent;
  border-radius: var(--mantine-radius-md);
}

.ag-dnd-ghost {
  background-color: var(--mantine-color-dark-6);
  box-shadow: var(--mantine-shadow-md);
  border: 1px solid var(--mantine-color-primary-5);
  border-radius: var(--mantine-radius-sm);
  color: var(--mantine-color-gray-2);
  height: 3rem !important;
  .ag-icon {
    color: var(--mantine-color-gray-2);
  }
}
