.pi-mod {
  .pincode-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .pincode-input-text {
      width: 36px !important;
      height: 36px !important;
      border-radius: var(--mantine-radius-sm);
      border: none !important;
      background-color: var(--mantine-color-dark-5) !important;
      font-size: var(--mantine-font-size-sm);
      color: var(--mantine-color-gray-2);
      &:focus {
        border: 1px solid var(--mantine-color-primary-7) !important;
      }
    }
  }
  &.invalid .pincode-input-text {
    border-color: var(--mantine-color-red-5) !important;
    color: var(--mantine-color-red-5) !important;
  }
}
